.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* 불투명한 검정색 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 다른 요소 위에 표시 */
  height: 100% !important;
  width: 100%;
}
.game-detail-view {
  align-items: center;
  background-color: var(--blackwhitewhite);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  position: relative;
  height: 100%;
  width: 45.9%;
  max-width: 800px;
  max-height: 872px;
  border-radius: 20px;
  overflow-y: auto; /* 추가: 내용이 넘칠 때 스크롤 생성 */
}

.game-detail-shop-name {
  align-items: center;
  align-self: stretch;
  border-bottom: 0.5px solid #ddd;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}

.game-detail-shop-name-font {
  letter-spacing: 0;
  line-height: 33.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.material-symbolsclose-2 {
  height: 24px;
  position: relative;
  width: 24px;
}

.game-detail-photo-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.game-detail-photo-frame {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 400px;
  justify-content: space-between;
  left: 0;
  /* position: absolute; */
  top: 0;
  width: 100%;
}

/* 24.12.12 수정 */
.modal-slide-img {
  width: 100%;
  height: 400px;
  /* object-fit: cover; 이미지가 박스에 맞게 채워지도록 설정 */
}


.slide-left-btn-box {
  position: absolute;
  left: 0;
  height: 50px;
  /* Move it to the far left */
  width: 50px;
  cursor: pointer;
}

.slide-btn-frame {
  border-radius: 25px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-btn-frame-align {
  background-color: var(--blackwhitewhite);
  border: 1px solid;
  border-color: var(--celeste);
  border-radius: 25px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.slide-right-btn-box {
  right: 0;
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
}

/* Dots Style */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  left: 40%;
  bottom: 20px;
}

.dots span {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dots .active-dot {
  background-color: #e17b11;
}

.modal-table {
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: none;
  border-right: none;
  position: relative;
  /* max-height: calc(100% - 400px);  */
  /* 이미지 높이 제외한 나머지 영역 사용 */
  max-height: fit-content;
  margin: 30px 0;
}

.modal-table-row {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.modal-table-row-first {
  align-items: center;
  background-color: #666;
  display: flex;
  gap: 10px;
  justify-content: center;
  /* padding: 15px; */
  padding: 15px 8px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.modal-table-row-end {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  width: 88%;
}

.modal-time-align {
  display: flex;
  align-items: center;
  gap: 12px;
}
.modal-btn-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-call-btn,
.modal-reservation-btn {
  width: 49%;
  height: 48px;
  border: none;
}

.modal-call-btn {
  background-color: #184199;
}

.modal-reservation-btn {
  background-color: #d30f1a;
}

/* 720px 이하일 때 모바일 버전 */
@media only screen and (max-width: 720px) {
  .modal-overlay {
    padding: 20px;
  }

  .game-detail-view {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
  }

  .game-detail-shop-name {
    width: 100%;
    padding: 20px;
  }

  .game-detail-shop-name-font {
    font-size: 18px;
  }

  .game-detail-photo-box {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .game-detail-photo-frame {
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  .slide-left-btn-box,
  .slide-right-btn-box,
  .slide-btn-frame-align {
    width: 30px;
    height: 30px;
  }

  .slide-left-btn-box {
    left: 20px;
  }

  .slide-right-btn-box {
    right: 20px;
  }
  .slide-btn {
    height: 50%;
  }

 /* 24.12.18 수정 */
 .modal-slide-img {
  height: 100%;
  /* width: auto; */
  /* max-width: 320px; */
  /* overflow: auto; */
  object-fit: cover; /* 이미지가 박스에 맞게 채워지도록 설정 */
}


  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 35%;
  }

  .modal-table {
    padding: 20px;
    border: none;
    margin: 0;
    max-height: fit-content;
  }

  .modal-table-row {
    height: 40px;
    border-top: 0.5px solid #ddd;
    border-bottom: none;
  }
  .modal-table-row-first {
    font-size: 14px;
    font-family: var(--font-family-pretendard-semibold);
    /* width: 37%; */
    width: 33.8%;
    gap: 0;
    padding: 15px 10px;
    border-top: 0.5px solid #ddd;
    border-bottom: none;
  }

  .modal-table-row-end {
    padding: 0 15px;
    font-size: 14px;
    font-family: var(--font-family-pretendard-regular);
    color: #666;
    /* width: 80%; */
    border-bottom: none;
  }

  .modal-time-align {
    display: grid;
    gap: 5px;
  }

  .slash-modal {
    display: none;
  }

  .modal-table-last {
    border-bottom: 0.5px solid #ddd;
  }

  .modal-btn-align {
    width: 100%;
    padding: 0 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    gap: 10px;
  }

  .modal-call-btn,
  .modal-reservation-btn {
    width: 48.3%;
    height: 40px;
    border-radius: 4px;
    font-size: 12px;
    font-family: var(--font-family-pretendard-medium);
  }
}
