.scorecard-2 {
  background-color: var(--blackwhitewhite);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.scorecard-wrap {
  padding: 0px 13.5%;
}

.title {
  width: 100%;
  padding-top: 104px;
}

.frame-7829 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 51px;
  position: relative;
  width: 100%;
  margin-bottom: 160px;
}

.record_container {
  width: 100%;
}

.level_box {
  padding: 25.5px 35px;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #222222;
  justify-content: space-between;
  /* 요소들을 양 끝으로 배치 */
}

/* 24.12.16 수정 - 추가 */
.level-align {
  display: flex;
  align-items: center;
  gap: 4px;
}

.level_color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
}

.level_color.gold {
  background-color: gold;
}

.level_color.silver {
  background-color: silver;
}

.level_color.brown {
  background-color: brown;
}

.level_color.green {
  background-color: green;
}

.level_color.yellow {
  background-color: yellow;
}

.level_color.red {
  background-color: red;
}

.record {
  display: flex;
  margin-top: 30px;
  gap: 40px;
  justify-content: space-between;
}

.best_scrore,
.avg_record {
  width: 50%;
  border: 1px solid #dddddd;
  padding: 40px;
}

.b_title,
.avg_title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.avg_title {
  display: flex;
  justify-content: space-between;
}

.avg_title select {
  /* width: 100px; */
  /* 24.12.27 수정 - 추가 */
  width: 120px;
  /* padding: 10px 0px; */
  /* 24.12.16 수정  */
  padding: 10px;
  border: 1px solid #dddddd;
}

.game {
  width: 100%;
  /* margin-top: 80px; */
  border-top: none;
}

.game_tab {
  display: flex;
  justify-content: center;
}

.tab {
  width: 33.3333%;
  padding: 23.5px 0px;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  color: #666666;
  background-color: #f5f6f6;
}

.tab span {
  color: #666666;
}

.tab:hover {
  background-color: #fff;
}

.tab.active {
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: -2px;
  background-color: #fff;
  color: #222222;
  font-weight: 700;
}

.table_box {
  padding: 40px;
  border: 1px solid #ccc;
}

.table {
  padding: 40px;
  width: 100%;
  border-top: 0px;
}

th,
td {
  text-align: center;
  width: 220px;
  padding: 20px 0px !important;
}

td {
  border-bottom: 0.5px solid #cccccc !important;
}

th {
  background-color: #f5f6f6;
}

/* 사이즈 줄였을 때 나오는 css */
.game-list {
  display: none;
}

/* 24.12.16 수정 - 추가 */
.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

/* 24.12.16 수정 - 추가 */
.pagination-arrow {
  cursor: pointer;
}

/* 24.12.16 수정 - 추가 */
.pagination-arrow.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 24.12.16 수정 - 추가 */
.pagination-arrow.flipped {
  transform: rotate(180deg);
}

/* 24.12.16 수정 - 추가 */
.page-numbers {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* 24.12.16 수정 - 추가 */
.page-number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #eeeeee;
  cursor: pointer;
}

/* 24.12.16 수정 - 추가 */
.page-number.active {
  background-color: #d30f1a;
  color: white;
}

/* 24.12.16 수정 - 추가 */
.page-number:hover {
  background-color: #eeeeee;
}

@media only screen and (max-width: 720px) {
  /* 24.12.16 수정 - 추가 */
  .scorecard-2 {
    width: 100%;
    max-width: 720px;
    min-width: 360px;
    height: 100%;
  }

  .scorecard-wrap {
    padding: 0px 20px;
  }

  .title {
    text-align: center;
    font-size: 18px;
    /* 24.12.16 수정 - 추가  */
    padding-top: 40px;
  }

  /* 24.12.16 수정 - 추가 */
  .level_box {
    padding: 24.5px 20px;
    height: 60px;
  }

  /* 24.12.16 수정 - 추가 */
  .current_level {
    font-family: var(--font-family-pretendard-medium);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  .record {
    flex-direction: column;
  }

  .best_scrore,
  .avg_record {
    width: 100%;
    padding: 0px;
    border: none;
  }

  /* 24.12.16 수정 - 추가 */
  .tab {
    font-size: 14px;
  }

  .table_box {
    display: none;
  }

  .table thead {
    display: none;
  }

  .game-list {
    display: flex;
    flex-direction: column;
  }

  .game-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  .game-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .game-info h3 {
    margin: 0;
  }

  .game-details {
    margin: 20px 0;
    display: flex;
    gap: 20px;
  }

  .game-details span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .game-info-line {
    width: 1px;
    height: 9px;
    background-color: #666666;
  }

  .game-date {
    font-size: 14px;
    color: #888;
  }

  .score-card-btn {
    background-color: #d22d2d;
    color: white;
    border: none;
    padding: 10px;
    width: 118px;
    /* margin-top: 10px; */
    border-radius: 4px;
    cursor: pointer;
  }

  .game-info-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  /* 24.12.16 수정 - 추가 */
  .pagination-controls {
    gap: 30px;
  }

  /* 24.12.16 수정 - 추가 */
  .page-numbers {
    gap: 12px;
  }

  /* 24.12.16 수정 - 추가 */
  .page-number {
    width: 30px;
    height: 30px;
  }
}
