.resetpassword {
  align-items: center;
  background-color: var(--blackwhitewhite);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.resetpassword-wrap {
  align-items: center;
  background-color: var(--cultured-pearl);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 50px;
  margin: 13% 0;
  position: relative;
  width: 33%;
}

.resetpassword-content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.resetpassword-content-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.resetpassword-content-item-title {
  width: 35%;
}

.resetpassword-input-box {
  background-color: #fff;
  border: none;
  padding: 20px 18px;
  position: relative;
  width: 100%;
}

.resetpassword-input-box::placeholder {
  color: #999;
}

.change-btn {
  align-items: center;
  background-color: var(--monza);
  display: flex;
  height: 55px;
  justify-content: center;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}

/* 720px 이하일 때 모바일 버전 */
@media only screen and (max-width: 720px) {
  .resetpassword {
    width: 100%;
    max-width: 720px;
    min-width: 360px;
    height: 100%;
    gap: 0;
  }

  .resetpassword-wrap {
    width: 100%;
    padding: 20px;
    margin-top: 6%;
    margin-bottom: 21%;
    background-color: #fff;
    gap: 20px;
  }

  .resetpassword-title {
    font-size: 18px;
    font-weight: 700;
  }

  .frame-7697-9 {
    gap: 20px;
  }
  .resetpassword-content-item-title {
    font-size: 16px;
    width: 100%;
    margin-bottom: 6px;
  }

  .resetpassword-input-box {
    border: none;
    width: 100%;
    background-color: #f5f6f6;
    font-size: 14px;
    height: 55px;
  }

  .resetpassword-content-item {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .cert-number-btn {
    width: 60%;
    font-size: 14px;
  }

  .change-btn {
    font-size: 16px;
    margin-top: 10px;
  }
}
